input,
textarea {
  background-color: #e3e3de;
}
.form {
  display: flex;
  flex-direction: row;

  height: auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 1vw;
}
.form-left {
  width: 45vw;
  text-align: center;
  padding-top: 13vw;
  height: auto;
  margin: 1vw;
  background-color: #65f0a8;
  color: white;
}
.form-right {
  width: 20vw;
  padding: 10vw;
  height: auto;
  text-align: center;
  margin: 1vw;
}

html {
  font-family: "Poiret One", cursive;
  font-size: 1.2em;
}
